<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanyun.auth.mapper.BaseUserMapper">
    <select id="findUserById" resultType="java.util.Map">
        SELECT
            ${tableInfo.allSqlSelect}
        FROM ${tableInfo.tableName}
        WHERE
            ${tableInfo.keyColumn} = #{identity} LIMIT 1;
    </select>
</mapper>
